@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  @apply bg-1;
}

.animation-parent:hover .animation-child {
  @apply animate-rotate-x  animate-once;
}

::-webkit-scrollbar {
}
/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-3;
}
